---
const { id } = Astro.params;
async function getAccessToken() {
  const client_id = "0a2991a3-1674-4334-8561-671cc7349960";
  const client_secret = "uw67Q~TCMqdJyH35hlcHHclv~mhNOGx.jfPFm";
  const redirect_uri = "https://alist.nn.ci/tool/onedrive/callback";
  const refresh_token =
    "";

  const token_url =
    "https://login.microsoftonline.com/common/oauth2/v2.0/token";
  const reqdata = await fetch(token_url, {
    method: "POST",
    body: `client_id=${client_id}&scope=offline_access%20Files.ReadWrite.All&refresh_token=${refresh_token}&redirect_uri=${redirect_uri}&grant_type=refresh_token&client_secret=${client_secret}`,
    headers: {
      "Content-Type": "application/x-www-form-urlencoded",
    },
  });
  const data = await reqdata.json();
  return data.access_token;
}
// const url = `https://graph.microsoft.com/v1.0/me/drive/root/children`;
const url = `https://graph.microsoft.com/v1.0/me/drive/items/${id}/children?$expand=thumbnails`;
const accesstoken = await getAccessToken();
const init = {
  method: "GET",
  headers: {
    Authorization: "Bearer " + accesstoken,
  },
};
const response = await fetch(url, init);
const jdata = await response.json();
console.log(JSON.stringify(jdata));
---

<main
  class="overflow-scroll overflow-x-hidden rounded-md h-screen p-3 grid grid-cols-1 lg:grid-cols-4 gap-2 w-full"
>
  {
    jdata.value.map((item: any) => (
      <div class=" flex flex-col items-center justify-center bg-white rounded-lg shadow-lg p-1">
        <img
          src={item.thumbnails[0]?.large.url}
          alt={item.name}
          class="w-full h-full object-cover  blur-3xl"
        />

        <p class="px-1 max-w-full max-h-52   truncatec  text-center ">
          {item.name}
        </p>
      </div>
    ))
  }
</main>
<script>
  // log jdata
</script>
