---
async function getAccessToken() {
  const client_id = "0a2991a3-1674-4334-8561-671cc7349960";
  const client_secret = "uw67Q~TCMqdJyH35hlcHHclv~mhNOGx.jfPFm";
  const redirect_uri = "https://alist.nn.ci/tool/onedrive/callback";
  const refresh_token =
    "";

  const token_url =
    "https://login.microsoftonline.com/common/oauth2/v2.0/token";
  const reqdata = await fetch(token_url, {
    method: "POST",
    body: `client_id=${client_id}&scope=offline_access%20Files.ReadWrite.All&refresh_token=${refresh_token}&redirect_uri=${redirect_uri}&grant_type=refresh_token&client_secret=${client_secret}`,
    headers: {
      "Content-Type": "application/x-www-form-urlencoded",
    },
  });
  const data = await reqdata.json();
  const accessToken = data.access_token;
  return accessToken;
}
const url = `https://graph.microsoft.com/v1.0/me/drive/root/children`;
// const url = `https://graph.microsoft.com/v1.0/me/drive/items/root/thumbnails`;
const accesstoken = await getAccessToken();
const init = {
  method: "GET",
  headers: {
    Authorization: "Bearer " + accesstoken,
    // "Cache-Control": "max-age=14400, s-maxage=84000",
    // "Cloudflare-CDN-Cache-Control": "max-age=24400",
    // "CDN-Cache-Control": "max-age=18000",
  },
};
const response = await fetch(url, init);
const jdata = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main
    class="overflow-hidden rounded-md  h-screen p-3"
    style="background-color: #f8f7fa"
  >
    <h1>
      {
        jdata.value?.map((item: any) => {
          return (
            <div class="bg-white rounded-lg shadow-md p-3 mb-2 ">
              <a href=`/${item.id}`>
                <div class="flex items-center  overflow-hidden">
                  <>
                    <div class="folder-icon mr-2">
                      <i class="fa-solid fa-folder-open text-blue-500" />
                    </div>
                    <button class="folder-name text-blue-500 hover:underline">
                      {item.name}
                    </button>
                  </>
                </div>
              </a>
            </div>
          );
        })
      }
    </h1>
  </main>
	</body>
</html>
